body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: gray;
}
h1 {
    text-align: center;
    color: rgb(75, 75, 75);
}
#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
#container > div {
    background-color: lightsteelblue;
    font-size: 16px rgb(75, 75, 75);
    margin: 5px;
    padding: 20px;
    width: 400px;
    align-content: center;
    border-radius: 20px;
    border: solid 1px gray;
}
a {
    font-weight: bold;
    color: midnightblue;
}
a:hover {
    color: red;
}